[submodule "Components/Blocks/Parsers/AstahXmiParser"]
	path = Components/Blocks/Parsers/AstahXmiParser
	url = https://github.com/plets-x1/AstahXmiParser
	branch = master
[submodule "Components/Blocks/ScriptGenerators/LoadRunnerScriptGenerator"]
	path = Components/Blocks/ScriptGenerators/LoadRunnerScriptGenerator
	url = https://github.com/plets-x1/LoadRunnerScriptGenerator
	branch = master
[submodule "Components/Blocks/SequenceGenerators/DfsSequenceGenerator"]
	path = Components/Blocks/SequenceGenerators/DfsSequenceGenerator
	url = https://github.com/plets-x1/DfsSequenceGenerator
	branch = master
[submodule "Components/Blocks/SequenceGenerators/HsiSequenceGenerator"]
	path = Components/Blocks/SequenceGenerators/HsiSequenceGenerator
	url = https://github.com/plets-x1/HsiSequenceGenerator
	branch = master
[submodule "Components/Blocks/SequenceGenerators/WPSequenceGenerator"]
	path = Components/Blocks/SequenceGenerators/WPSequenceGenerator
	url = https://github.com/plets-x1/WPSequenceGenerator
	branch = master
[submodule "Components/Blocks/Validators/PerformanceValidator"]
	path = Components/Blocks/Validators/PerformanceValidator
	url = https://github.com/plets-x1/PerformanceValidator
	branch = master
[submodule "Components/Blocks/Validators/FunctionalValidator"]
	path = Components/Blocks/Validators/FunctionalValidator
	url = https://github.com/plets-x1/FunctionalValidator
	branch = master
[submodule "Components/Core/FiniteStateMachine"]
	path = Components/Core/FiniteStateMachine
	url = https://github.com/plets-x1/FiniteStateMachine
	branch = master
[submodule "Components/Core/UmlDataStructure"]
	path = Components/Core/UmlDataStructure
	url = https://github.com/plets-x1/UmlDataStructure
	branch = master
